websocket-ml-server-production.up.railway.app {
    reverse_proxy 0.0.0.0:8080 {
        header_up X-Forwarded-Proto {scheme}
        header_up Upgrade {>Upgrade}
        header_up Connection {>Connection}
    }
}

